<div class="author_frame">
	<br>
	<div class="author_photo">
		<img class="author_photo" src="images/author.jpg" alt="Autor de la Web" height="130" width="105">
	</div>
	<div class="author_data">
		<ul>
			<li type="square"><b>Daniel Mart&iacute;nez Sep&uacute;lveda</b></li>
			<li type="square"><a href="mailto:danielmartinezsepulveda@gmail.com">Contacta Conmigo</a></li>
		</ul>
	</div>
</div>
