<div class="result_quiz">
	<b><%= texto %></b>
	<br>
	<table>
		<% if (quizes) {
			var i; for (i=0; i<quizes.length; i++) { %>
			<tr>
				<td><a href="/quizes/<%= quizes[i].id %>"><%=quizes[i].pregunta %></a></td>
			</tr>
		<% } } %>
	</table>
</div>

<div class="search_quiz">
	<b>B&uacute;squeda de Quizes</b>
	<br><br>
	<form method="get" action="/quizes">
		<input type="text" name="search" placeholder="Buscar quiz por ..."/>
		<input type="submit" value="Enviar"/>
	</form>
</div>

